 <!-- <section class="pb-7" *ngIf="aboutData && !loading">
  <div class="max-w-[1393px] mx-auto">

    <div class="text-center mb-14">
      <p class="text-[#313131] leading-relaxed text-base">
        {{ aboutData.header.subtitle }}
      </p>
      <h2 class="text-3xl md:text-4xl text-black tracking-tight leading-tight">
        {{ aboutData.header.title }}
      </h2>
      <div class="w-14 h-[2px] bg-black mx-auto mt-4"></div>
    </div>

    <div class="grid md:grid-cols-2 gap-14 items-center">

      <div class="relative">
        <img
          [src]="aboutData.image"
          alt="About Us"
          class="w-full h-[420px] object-cover rounded-xl shadow-md"
        />

        <div class="absolute bottom-6 left-6 bg-white px-5 py-3 rounded-lg shadow-md">
          <p class="text-sm text-black">
            {{ aboutData.badge }}
          </p>
        </div>
      </div>

      <div class="space-y-6">

        <h3 class="text-2xl md:text-3xl font-serif mb-6 leading-tight text-gray-900">
          {{ aboutData.sectionTitle }}
        </h3>

        <p
          *ngFor="let text of aboutData.description"
          class="text-[#313131] leading-relaxed text-base"
        >
          {{ text }}
        </p>

        <div class="grid grid-cols-3 gap-6 pt-6 border-t border-gray-200">
          <div *ngFor="let stat of aboutData.stats">
            <h4 class="text-3xl text-black">
              {{ stat.value }}
            </h4>
            <p class="text-sm text-gray-500 mt-1">
              {{ stat.label }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- About Our Brand -->
 <section class="pb-7" *ngIf="aboutData && !loading">
  <div class="max-w-[1393px] mx-auto">

    <div class="text-center mb-14">
      <p class="text-[#313131]  leading-relaxed text-base">
        {{ aboutData.header.subtitle }}
      </p>
      <h2 class="text-3xl md:text-4xl text-black tracking-tight leading-tight font-medium">
        {{ aboutData.header.title }}
      </h2>
      <div class="w-14 h-[3px] bg-black mx-auto mt-2"></div>
    </div>

    <div class="grid md:grid-cols-2 gap-[26px] about-listing">

      <div class="space-y-6 about-box-shadow">

        <h3 class="text-2xl md:text-3xl text-black font-serif mb-3 leading-tight  font-medium">
          {{ aboutData.sectionTitle }} 
        </h3>
        <p
          *ngFor="let text of aboutData.description"
          class="text-[#313131]  leading-relaxed text-base"
        >
          {{ text }}
        </p>
        <div class="flex items-center gap-4 mb-7">
          <div class="flex-shrink-0">
           
        <img class="icon-about-listing" src="./quality-products.png">

          </div>
          <div>
            <h5 class="text-[18px] font-medium font-serif leading-tight text-black-900">Quality Products</h5>
            <p class="text-[#313131] leading-relaxed text-base">Crafted with premium materials for lasting durability and comfort.</p>
          </div>
        </div>
          <div class="flex items-center gap-4 mb-7">
          <div class="flex-shrink-0">

          <img class="icon-about-listing" src="./exceptional-support.png">

          </div>
          <div>
            <h5 class="text-[18px] font-medium font-serif leading-tight text-black-900">Exceptional Support</h5>
            <p class="text-[#313131] leading-relaxed text-base">Reliable, friendly, and always here to help.</p>
          </div>
        </div>
          <div class="flex items-center gap-4 mb-7">
          <div class="flex-shrink-0">
              <img class="icon-about-listing" src="./Fast-Shipping.png">
          </div>
          <div>
            <h5 class="text-[18px] font-medium font-serif leading-tight text-black-900">Fast Shipping</h5>
            <p class="text-[#313131] leading-relaxed text-base">Orders are processed quickly and delivered on time, without any hassle.</p>
          </div>
        </div>
          <div class="flex items-center gap-4 mb-7">
          <div class="flex-shrink-0">
            <img class="icon-about-listing" src="./member-benefits.png">
          </div>
          <div>
            <h5 class="text-[18px] font-medium font-serif leading-tight text-black-900">Member Benefits</h5>
            <p class="text-[#313131] leading-relaxed text-base">Exclusive discounts and offers for returning customers.</p>
          </div>
        </div>
      </div>
      <div class="relative">
        <img
          [src]="aboutData.image"
          alt="About Us"
          class="w-full h-[420px] object-cover rounded-xl shadow-md"
        />

        <div class="absolute bottom-[28%] left-6 bg-white px-5 py-3 rounded-lg shadow-md trusted-text">
          


            <img src="./trusted-icon.png" />


          <p class="text-sm text-black">
             {{ aboutData.badge }}  
          </p>
        </div>
         <div class="grid grid-cols-3 place-items-center gap-6 pt-6 border-t border-gray-200 happy-customer-shadow">
          <div class="inner-about-items" *ngFor="let stat of aboutData.stats">
            <h4 class="text-3xl text-black review-value-no">
              {{ stat.value }}
            </h4>
            <p class="text-sm text-gray-500 mt-1">
              {{ stat.label }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











