<!-- <hr class="my-8" /> -->

<!-- Login Page Wrapper -->
<div filter-color="black" class="min-h-screen flex items-center justify-center bg-cover bg-top p-4" style="background-image: url('/login2.jpg');">
  <div class="bg-white bg-opacity-90 p-8 rounded-md shadow-lg max-w-md w-full ">

    <!-- Logo -->
    <div class="flex justify-center mb-6 bg-white rounded">
      <img src="https://firebasestorage.googleapis.com/v0/b/tradies-diary.appspot.com/o/diary%2Fadmin%2Flogo?alt=media&token=d33d1215-6048-481c-8287-769d632b5fd6" alt="Logo" class="max-w-full h-12" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="mb-4">
        <label class="block text-sm font-semibold mb-1">Email Address</label>
        <div class="flex items-center border rounded px-3 py-2" [ngClass]="{'border-red-500': isFieldInvalid('email')}">
          <i class="fas fa-user text-gray-400 mr-2"></i>
          <input type="email" formControlName="email" placeholder="Email Address" class="w-full outline-none" (blur)="markTouched('email')" />
        </div>
        <div *ngIf="isFieldInvalid('email')" class="text-red-500 text-xs mt-1">
          {{ getFieldError('email') }}
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-4">
        <label class="block text-sm font-semibold mb-1">Password</label>
        <div class="flex items-center border rounded px-3 py-2" [ngClass]="{'border-red-500': isFieldInvalid('password')}">
          <i class="fas fa-lock text-gray-400 mr-2"></i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
            class="w-full outline-none"
            (blur)="markTouched('password')"
          />
          <i
            class="fas cursor-pointer"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        <div *ngIf="isFieldInvalid('password')" class="text-red-500 text-xs mt-1">
          {{ getFieldError('password') }}
        </div>
      </div>


      <!-- Login Button -->
       <div class="flex items-center justify-center mt-6">
      <span (click)="onSubmit()" class="btn big-btn" mat-raised-button >
        LOGIN
      </span>
      </div>
    </form>

    <!-- Footer -->
  <!-- <app-footer></app-footer> -->
  </div>
</div>
