
.home-banner{
    background-position: right;
}
@media(max-width:1900px){
.home-banner{
    background-position: right;
}
}

@media(max-width:1200px){
.home-banner{
    background-position: 85%;
    position: relative;
}
}

@media(max-width:1500px){
        .home-banner{
background-position: 88% ;
position:relative;
    }
    .home-banner::before{
        position: absolute;
        content:"";
        height :100%;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        z-index:0;
    }
}
@media(max-width:640px){
    .home-banner{
background-position:100%;
    }

}
@media(max-width:480px){
        .home-banner{
background-position:96%;
    }
}
@media(max-width:375px){
        .home-banner{
background-position:90%;
    }
}