.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

.home-banner{
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

@media(max-width:1500px){
    .home-banner::before{
        position: absolute;
        content:"";
        height: 101%;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        z-index:0;
        inset: 0;
    }
}
@media(max-width:1400px){
    .home-banner{
    background-position: right;
}

}

@media(max-width:375px){
    .home-banner{
    background-position: 88%;
}
}