#mobile-menu {
  transition: all 0.3s ease-in-out;
}
.activeteb{
  font-weight: 700;
}
#mobile-menu a:hover{
background-color: #000;
color: #fff;
}
@media(max-width:768px){
    .logoImage img{
        width: 100px;
    }
}