<header class="border-b border-gray-100 text-black">
  <div class="px-4 max-w-[1300px] mx-auto flex justify-between items-center py-4">
    <div class="text-4xl font-black cursor-pointer logoImage">
      <img routerLink="/home" src="https://dcb-porfolio.vercel.app/DCB-logo.png"  alt="logoimage" width="120" height="70" />
    </div>
    <nav class="md:flex gap-6 text-sm font-normal hidden md:block">
      <!-- <a routerLink="/home" class="block md:inline-block hover:underline hover:font-semibold transition activeteb">Home</a> -->
      <!-- <a href="#" class="block md:inline-block hover:font-semibold transition hover:underline">Categories</a>
      <a href="#" class="block md:inline-block hover:font-semibold transition hover:underline">Products</a>
      <a href="#" class="block md:inline-block hover:font-semibold transition hover:underline">Pages</a> -->
    </nav>
    <div class="socilLinks flex md:gap-4 gap-3 font-normal items-center">
    <!-- @if(userService.user){
  <i routerLink="/home/liked-products" class="fa-regular fa-heart hover:text-black cursor-pointer"></i>
    } -->

  <!-- Cart Icon with Item Count Badge -->
  <!-- <div class="relative">
    <i routerLink="cart" class="fa-solid fa-cart-shopping cursor-pointer text-xl"></i>
    <span *ngIf="cartCount > 0"
          class="absolute -top-2 -right-2 bg-red-600 text-white text-xs w-5 h-5 rounded-full flex items-center justify-center">
      {{ cartCount }}
    </span>
  </div> -->

  <!-- Mobile Menu -->
  <!-- <div class="md:hidden order-3">
    <button id="menu-toggle" (click)="toggleMobileMenu()" class="text-xl focus:outline-none align-middle leading-[0]">
      <i class="fa-solid fa-bars "></i>
    </button>
  </div> -->

  <!-- Profile (moved to the end) -->
    <div class="relative leading-[0]">
    <i class="fa-solid fa-circle-user cursor-pointer text-2xl" [ngClass]="isHomeExact ? 'brightness-0' : ''"  (click)="toggleProfileMenu()"></i>

    <!-- Dropdown (Profile Menu) -->
    <div
      *ngIf="showProfileMenu"
      class="absolute right-0 mt-2 w-40 bg-white border rounded shadow-md z-50"
    >
      <!-- User Name -->
      <div class="px-4 py-2 border-b text-sm font-medium " *ngIf="userService.user?.name">
        {{ userService.user?.name || 'Guest User' }}
      </div>

      <!-- Logout / Login -->
      <button
        (click)="logOutOrLogin()"
        class="block w-full text-left text-sm px-4 py-2 hover:bg-gray-100 hover:rounded cursor-pointer"
      >
        {{ isUserLoggedIn ? 'Logout' : 'Login' }}
      </button>
    </div>
  </div>

</div>

    <!-- Mobile Menu Toggle Button -->

  </div>
  <!-- Mobile Menu -->
  <!-- <div id="mobile-menu" *ngIf="isMobileMenuOpen" class="md:hidden bg-white border-t border-gray-200 py-2 absolute w-full">
    <a href="#" class="block px-4 py-2 text-sm font-normal">Home</a>
    <a href="#" class="block px-4 py-2 text-sm font-normal">Categories</a>
    <a href="#" class="block px-4 py-2 text-sm font-normal">Products</a>
    <a href="#" class="block px-4 py-2 text-sm font-normal">Pages</a>
  </div> -->
</header>
