.productName{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productImage{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
@media(max-width:640px){
    .productImage{
    width: 100%;
    height: 400px;
}
}