/* You can add global styles to this file, and also import other style files */
@use "tailwindcss" as *;
@use 'ngx-toastr/toastr' as *;

   
:root{
  --primary-font:"Proxima Nova", Sans-serif;
}

/* Proxima Nova - Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Proxima Nova - Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
/* Proxima Nova - Black */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Proxima Nova - Black Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Proxima Nova - Extra Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Proxima Nova - Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Proxima Nova - Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body, h1, h2, h3, h4, h5, h6, span, li, a, p{
  font-family: var(--primary-font);
}

.btn {
  font-size: 12px;
  padding: 4px 8px;
  height: 28px;
  color: white;
  border-radius: 5px;
  cursor: pointer !important;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: auto;
  white-space: nowrap;
}

.big-btn {
  width: 500px;
}